# OpenAI
OPENAI_API_KEY=

# AWS Cognito
COGNITO_REGION=
COGNITO_USER_POOL_ID=
COGNITO_APP_CLIENT_ID=

# Database
DATABASE_URL=postgres://user:password@localhost:5432/warsaw_places

# App
ENVIRONMENT=dev
